<div class="form-row">
    <label for="node-input-whentostart"><i class="fa fa-repeat"></i> <span data-i18n="knxUltimateAlerter.properties.node-input-whentostart"></span> </label>
    <select id="node-input-whentostart">
        <option value="manualstart" data-i18n="knxUltimateAlerter.selectlists.manualstart"></option>
        <option value="ifnewalert" data-i18n="knxUltimateAlerter.selectlists.ifnewalert"></option>
    </select>
</div>

<div class="form-row">
    <label for="node-input-timerinterval" style="width:70%"><i class="fa fa-clock-o"></i> <span data-i18n="knxUltimateAlerter.properties.node-input-timerinterval"></span> </label>
    <input type="text" id="node-input-timerinterval" style="width:10%">       
</div>

<br/>
<br/>
<dt><i class="fa fa-code-fork"></i>&nbsp; <span data-i18n="knxUltimateAlerter.other.sceneConfig"></span></dt>
    <br/>
    <div class="form-row" id="divNode-input-initialreadGAInRules">
        &nbsp;&nbsp;<label style="width:60%" for="node-input-initialreadGAInRules">
            <i class="fa fa-question-circle-o"></i>
            <span data-i18n="knxUltimateAlerter.properties.node-input-initialreadGAInRules"></span>
        </label>
        <select style="width:30%" id="node-input-initialreadGAInRules">
            <option value="0" data-i18n="knxUltimateAlerter.properties.node-input-initialread0"></option>
            <option value="1" data-i18n="knxUltimateAlerter.properties.node-input-initialread1"></option>
        </select>
    
    </div>
<div class="form-row node-input-rule-container-row">
    <ol id="node-input-rule-container"></ol>
</div>

<div class="form-row">
    <p><span data-i18n="knxUltimateAlerter.other.add"></span></p>
</div>
