<div class="form-tips" style="margin-bottom:16px" data-i18n="knxUltimateGlobalContext.advanced.warning"></div>

<div class="form-row">
    <label for="node-input-exposeAsVariable" style="width:60%;">
        <i class="fa fa-link"></i>
        <span data-i18n="knxUltimateGlobalContext.advanced.exposeAsVariable"></span>
    </label>
    <select id="node-input-exposeAsVariable" style="width:35%;">
        <option value="exposeAsVariableNO" data-i18n="knxUltimateGlobalContext.advanced.exposeAsVariableNO"></option>
        <option value="exposeAsVariableREADONLY" data-i18n="knxUltimateGlobalContext.advanced.exposeAsVariableREADONLY"></option>
        <option value="exposeAsVariableREADWRITE" data-i18n="knxUltimateGlobalContext.advanced.exposeAsVariableREADWRITE"></option>
    </select>
</div>

<div class="form-row">
    <label for="node-input-writeExecutionInterval" style="width:60%;">
        <i class="fa fa-link"></i>
        <span data-i18n="knxUltimateGlobalContext.advanced.writeExecutionInterval"></span>
    </label>
    <select id="node-input-writeExecutionInterval" style="width:35%;">
        <option value=250 data-i18n="knxUltimateGlobalContext.interval_250ms"></option>
        <option value=500 data-i18n="knxUltimateGlobalContext.interval_500ms"></option>
        <option value=1000 data-i18n="knxUltimateGlobalContext.interval_1000ms_default"></option>
        <option value=1500 data-i18n="knxUltimateGlobalContext.interval_1500ms"></option>
        <option value=2000 data-i18n="knxUltimateGlobalContext.interval_2000ms"></option>
    </select>
</div>

<div class="form-row">
    <label for="node-input-contextStorage" style="width:60%;">
        <i class="fa fa-tag"></i> <span data-i18n="knxUltimateGlobalContext.contextStorage"></span>
    </label>
    <input style="width:35%;" type="text" id="node-input-contextStorage" data-i18n="[placeholder]knxUltimateGlobalContext.contextStoragePlaceholder" />
</div>
