<div class="form-row">
    <label for="node-input-payloadPropName"><i class="fa fa-ellipsis-h"></i> <span data-i18n="knxUltimateHATranslator.inputProperty"></span></label>
    <input type="text" id="node-input-payloadPropName" placeholder="payload">
</div>
<div class="form-tips" style="margin-bottom:16px" data-i18n="knxUltimateHATranslator.inputHint"></div>
<div class="form-row">
    <label for="node-input-editorcommandText" style="width:100%"><i class="fa fa-tasks"></i> <span data-i18n="knxUltimateHATranslator.translations"></span></label>
    <div style="height:250px; min-height:150px; width:100%;" class="node-text-editor" id="node-input-editorcommandText"></div>
</div>
<div class="form-tips" data-i18n="knxUltimateHATranslator.translationHint"></div>
