<div id="GAandDPT">
    <div class="form-row">
        <label for="node-input-topic" style="width:100px;"><i class="fa fa-play"></i> <span data-i18n="knxUltimateSceneController.properties.node-input-topic"></span></label>
        <input type="text" id="node-input-topic" placeholder="Ex: 1/1/1" style="width:80px;margin-left: 5px; text-align: left;">
       
        <label for="node-input-dpt" style="width:90px; margin-left: 0px; text-align: right;"><i class="fa fa-microchip"></i>
            <span data-i18n="knxUltimateSceneController.properties.node-input-dpt"></span> </label>
        <select id="node-input-dpt" style="width:140px;"></select>
       
        <label for="node-input-topicTrigger" style="width:60px;text-align: right;"><i class="fa fa-bolt"></i> <span data-i18n="knxUltimateSceneController.properties.node-input-topicTrigger"></span></label>
        <input type="text" id="node-input-topicTrigger" placeholder="Ex: 5 or true" style="width:100px;margin-left: 5px; text-align: left;">
        
    </div>
    <div class="form-row">
        <label for="node-input-topicSave" style="width:100px;"><i class="fa fa-floppy-o"></i> <span data-i18n="knxUltimateSceneController.properties.node-input-topicSave"></span></label>
        <input type="text" id="node-input-topicSave" placeholder="Ex: 1/1/2" style="width:80px;margin-left: 5px; text-align: left;">
        
        <label for="node-input-dptSave" style="width:90px; margin-left: 0px; text-align: right;"><i class="fa fa-microchip"></i>
            <span data-i18n="knxUltimateSceneController.properties.node-input-dpt"></span> </label>
        <select id="node-input-dptSave" style="width:140px;"></select>

        <label for="node-input-topicSaveTrigger" style="width:60px;text-align: right;"><i class="fa fa-bolt"></i>  <span data-i18n="knxUltimateSceneController.properties.node-input-topicTrigger"></span></label>
        <input type="text" id="node-input-topicSaveTrigger" data-i18n="[placeholder]knxUltimateSceneController.placeholder.valueexample" style="width:100px;margin-left: 5px; text-align: left;">
    </div>
</div>

<div class="form-row" id="divTopic">
    <label for="node-input-outputtopic"><i class="fa fa-tasks"></i>  <span data-i18n="knxUltimateSceneController.properties.node-input-outputtopic"></span> </label>
    <input type="text" id="node-input-outputtopic" data-i18n="[placeholder]knxUltimateSceneController.placeholder.leaveempty">
</div>


<dt><i class="fa fa-code-fork"></i>&nbsp; <span data-i18n="knxUltimateSceneController.other.sceneConfig"></span></dt>
<div class="form-row node-input-rule-container-row">
    <ol id="node-input-rule-container"></ol>
</div>

<div class="form-row">
    <p><span data-i18n="knxUltimateSceneController.other.add"></span></p>
</div>
